.hstack {
  display: flex;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.Ac {
  align-items: center;
}
.As {
  align-items: flex-start;
}
.Ae {
  align-items: flex-end;
}

.Jc {
  justify-content: center;
}
.Jb {
  justify-content: space-between;
}
.Js {
  justify-content: flex-start;
}
.Je {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.g12 {
  gap: 12px;
}

.g14 {
  gap: 14px;
}

.g18 {
  gap: 18px;
}

.g20 {
  gap: 20px;
}

.g25 {
  gap: 25px;
}

.g27 {
  gap: 27px;
}

.g30 {
  gap: 30px;
}

.g32 {
  gap: 32px;
}

.g34 {
  gap: 34px;
}
.g36 {
  gap: 36px;
}

.g38 {
  gap: 38px;
}

.g40 {
  gap: 40px;
}

.g44 {
  gap: 44px;
}

.g58 {
  gap: 58px;
}

.g94 {
  gap: 94px;
}

.g111 {
  gap: 111px;
}
