.protesics {
  &-desc {
  }
}

@media (max-width: 1600px) {
  .protesics-img img {
    width: 650px;
    height: 550px;
  }
}

.protesics_items {
  margin-top: 150px;
  @media screen and (max-width: 1600px) {
    margin-top: 100px;
  }
  @media screen and (max-width: 1200px) {
    margin-top: 60px;
    justify-content: center;
  }
  @media screen and (max-width: 600px) {
    margin-top: 30px;
    gap: 50px;
  }
  @media screen and (max-width: 400px) {
    margin-top: 20px;
  }
}

.protesics_title {
  text-transform: uppercase;
  margin-top: 150px;
  @media screen and (max-width: 1600px) {
    font-size: 40px;
    line-height: 44px;
  }
  @media screen and (max-width: 1200px) {
    margin-top: 100px;
    font-size: 34px;
    line-height: 38px;
  }
  @media screen and (max-width: 600px) {
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
  }
  @media screen and (max-width: 400px) {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    color: var(--gray_500);
  }
}

@media (max-width: 1366px) {
  .protesics {
    padding-left: 20px;
    &-desc {
      margin-top: 115px;
    }
    &-text {
      font-size: 20px;
    }
    &-img img {
      width: 633px;
      height: 529px;
    }
  }
}
@media (max-width: 1100px) {
  .protesics {
    padding-right: 20px;

    &-img img {
      width: 600px;
      height: 500px;
    }
    .protesics-desc {
      display: flex;
      flex-direction: column;
    }
  }
}
@media (max-width: 800px) {
  .protesics {
    padding-right: 20px;

    &-img img {
      width: 450px;
      height: 400px;
    }
  }
}
@media (max-width: 600px) {
  .protesics {
    &-desc {
      margin-top: 70px;
    }
    &-img img {
      width: 450px;
      height: 400px;
    }
  }
}
@media (max-width: 500px) {
  .protesics {
    &-text {
      margin-top: 11px;
      font-size: 16px;
    }

    &-img img {
      margin-top: 11px;
      width: 360px;
      height: 302px;
    }
  }
  .protesics-desc {
    display: flex;
    flex-direction: column-reverse !important;
  }
}
